// BRAINTREE FORM
    .braintree-form-container {

        .container-fluid {
            max-width: 75%;

            h1 {
                padding-top: 30px;
                font-weight: bold;
                text-align: center;
            }

            label {
                font-weight: bold;
            }
        
            button {
                margin-bottom: 30px;
            }
        }
    }
    
    .spacer {
        margin-bottom: 0;
    }

    #card-number, #cvv, #expiration-date {
        background: white;
        height: 38px;
        border: 1px solid #CED4DA;
        padding: .375rem .75rem;
        border-radius: .25rem;
    }

    @media screen and (max-width: 768px) {
        h1 {
            padding-bottom: 30px;
        }
    }
