.my-jumbotron{
    height: 600px;
    position: relative;
    background-size: cover;
    background-color: white;

    .overlay {
        position: absolute;
        top:0;
        left: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.4); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        height:100%;
    }


    .title{
        width: 100%;
        text-align: center;


        h2{
            width: 100%;
            font-size: 52px;
            position: absolute;
            top: 37%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
    }
    .form-group{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        .form-control{
            width: 700px;
            border-radius: 30px;
            padding:20px 30px;
            font-size: 20px;
            border: 3px solid $color-1;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .form-control{
        max-width: 400px;
    }
    .details{
        display: block;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        padding:5px;
    }
   
}

@media screen and (max-width: 560px) {
    .my-jumbotron {
        .title {
            h2{
                font-size: 40px;
            }
        }
    }
    .details{
        display: block;
    }
}

@media screen and (max-width: 460px) {
    .form-control{
        max-width: 300px;
    }
    .details{
        display: block;
    }
}

@media screen and (max-width: 415px) {
    .my-jumbotron {
        .title {
            h2{
                font-size: 34px;
            }
        }
    }
    .details{
        display: block;
    }
}

// LIST APARTMENTS
h2 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.list-apartment{
    padding: 20px;

    .title-page{
        text-align: center;
    }


    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        .card{
            position: relative;
            width: calc(( 100% / 3) - 30px );
            margin:30px 0;
            height: 500px;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            padding: 20px 30px;
            transition: transform .1s;
            color: white;
            transform: scaleY(1);
            transform-origin: top;
            border: none;
            box-shadow: 4px 4px 10px -5px #000000;
            position: relative;
            overflow: hidden;
            #click-card{
                cursor: pointer;
                width: 100%;
                height: 100%;
            }
            .sponsorized-ap{
                position: absolute;
                top: 30px;
                right: -31px;
                transform: rotateZ(42deg);
                background-color: rgba(0, 0, 0, 0.4);
                padding: 0px 32px;
            }

            .details{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                padding:10px;

                a{
                    color:lightgray;

                    i{
                        font-size: 40px;
                    }
                }

                    a:hover{
                        color:white;
                    }
                }
                .ap-stats{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.4);
                    padding: 5px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 17px;
                    width: 100%;
                    text-align: center;

                    span{
                        margin:10px;
                    }
                }


                .scaling-block{
                    border-bottom-left-radius:10px;
                    border-bottom-right-radius:10px;
                    padding: 10px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: calc(100% + 1px);
                    height: 100px;
                    text-align: center;
                    transform-origin: bottom;
                    transform: scaleY(1);
                    transition: .1s linear;
                    background-color:white;
                    color: black;


                .modified{
                    color: black;
                    text-decoration: underline;
                }

                    .blog-title{
                        h6{
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 992px) {
            .card-container{
                .card{
                    width: calc(( 100% / 2) - 30px );
                    .ap-stats{
                        display: block;
                        position: absolute;
                        bottom: 20%;
                        left: -4px;
                        background-color: rgba(0, 0, 0, 0.4);
                        padding: 5px;
                        border-radius: 5px;
                        font-weight: bold;
                        font-size: 17px;
                        width: 100%;
                        text-align: center;
                        display: block;
        
                        span{
                            margin:10px;
                        }
                    }
                }
            }
            
        }

        @media screen and (max-width: 768px) {
            .card-container{
                display: block;
                .card{
                    margin: auto;
                    margin-bottom: 20px;
                    width: 80%;
                    
                    .ap-stats{
                        display: block;
                        position: absolute;
                        bottom: 20%;
                        left: -4px;
                        background-color: rgba(0, 0, 0, 0.4);
                        padding: 5px;
                        border-radius: 5px;
                        font-weight: bold;
                        font-size: 17px;
                        width: 100%;
                        text-align: center;
                        display: block;
        
                        span{
                            margin:10px;
                        }
                    }
                }
            }
            
            
        }

        @media screen and (max-width: 447px) {
            .card-container{
                // display: block;
                .card{
                    // margin: auto;
                    // margin-bottom: 20px;
                    min-width: 235px;
                    max-width: 100%;
                    .ap-stats{
                        display: block;
                        position: absolute;
                        bottom: 20%;
                        left: -4px;
                        background-color: rgba(0, 0, 0, 0.4);
                        padding: 5px;
                        border-radius: 5px;
                        font-weight: bold;
                        font-size: 17px;
                        width: 100%;
                        text-align: center;
                        display: block;
        
                        span{
                            margin:10px;
                        }
                    }
                }
                
            }
           
        }

        .card:hover {
            transform: scaleY(1);
            background-color: linear-gradient(to top,rgba(3,3,3,0) 0,rgba(3,3,3,0.85) 100%);
            z-index: 3;

            .overlay{
                position: absolute;
                top:0;
                left: 0;
                background: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.4); /* Black see-through */
                color: #f1f1f1;
                width: 100%;
                height:100%;
            }

            &:hover .scaling-block{
                transform: scaleY(0)
            }

        }

        .card:hover .hidden{
            display:block;
        }

        a{
            color:white;

            i{
                font-size: 40px;
            }
        }
    }

#home-burger {
    background-color: $color-1;
    max-width: max-content;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    color: white;
    padding: 20px 46px;
    border: 4px solid white;
    border-radius: 9999px;

    i {
        padding-right: 5px;
    }

    &:hover {
        background-color: lighten($color-1, 10%);
    }

    &:active {
        background-color: lighten($color-1, 20%);
    }
}

.filters {
    h2 {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        margin-top: 35px;
    }

    // input filters
    .input-filters {
        width: 100%;
        text-align: center;
        padding: 20px 30px;
        font-size: 16px;
        display: flex;
        justify-content: space-around;

        label {
            margin: 0;
            display:grid;
            font-size: 20px;
            font-weight: bold;
        }

        input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        .number-input {
            min-width: 150px;
            border: 0;
            display: block;
            margin:5px 0;

            span{
                font-size: 20px;
                font-weight: bold;
                margin-left: 10px;
            }
        }

        .number-input,
        .number-input * {
            box-sizing: border-box;
        }

        .number-input button {
            outline:none;
            -webkit-appearance: none;
            background-color: transparent;
            border: none;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin: 0;
            position: relative;
            box-shadow: 4px 4px 10px -5px #000000;;
            border-radius: 50%;
            margin-left: 10px;
        }

        .number-input button:before,
        .number-input button:after {
            display: inline-block;
            position: absolute;
            content: '';
            width: 1rem;
            height: 2px;
            background-color: #212121;
            transform: translate(-50%, -50%);
        }
        .number-input button.plus:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .number-input input[type=number] {
            font-family: sans-serif;
            max-width: 5rem;
            padding: 0.5rem;
            border: none;
            border-width: 0 2px;
            font-size: 20px;
            height: 35px;
            font-weight: bold;
            text-align: center;
            color: $color-1;
            border-radius: 30px;
        }
    }

    @media screen and (max-width: 768px) {
        .input-filters {
            margin: auto;
            width: 100%;
        // text-align: center;
        // padding: 20px 30px;
        // font-size: 16px;
            display: block;
        // justify-content: space-around;
        
        .number-input {
            // min-width: 150px;
            // border: 0;
            display: block;
            margin:auto;
            text-align: center;
            .button-plus-min {
                max-width: max-content;
                margin: auto;
                margin-bottom: 20px;
               input {
                    display: inline-block;
               }
            }
        }
    }
    }

    .button-plus-min{
        display:flex;
        align-items: center;
        margin:10px;
    }
    .quantity{
        margin:0px 10px;

    }

    .meno,
    .più{
        color:$color-5;
        font-size: 35px;
        cursor: pointer;

        &:hover{
            
            box-shadow:4px 4px 10px -5px #000000;
        }
        &:active {
            box-shadow:5px 5px 12px -3px #000000;;
            transform: translateY(4px);
        }


    }


}

.filter-check{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-check{
        width: calc(( 100% / 3 ) - 30px);
        /* border: 1px solid #F6E8EA; */
        /* border-radius: 10px; */
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        /* background-color: #F6E8EA; */
        margin-top: 20px;
        position: relative;

        .form-check-input{
            cursor: pointer;
        }
    }

    .container-check {
        input {
        width:300px;
        // word-break: break-all;
    }
    }

    // checkboxes
    @import url(https://fonts.googleapis.com/css?family=Noto+Sans);


    html {
        min-height: 100%;
    }

    body {
        color: $color-2;
        background: $color-5;
        font: 1.4em/1 'Noto Sans', sans-serif;
    }



    .container-check {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    input {
        position: absolute;
        left: -9999px;
    }

    label {
        display: block;
        position: relative;
        margin: 20px;
        padding: 15px 30px 15px 62px;
        border: 3px solid $color-2;
        border-radius: 100px;
        color: $color-2;
        background-color: $color-5;
        box-shadow:4px 4px 10px -5px #000000;;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: background-color .2s, box-shadow .2s;
        width:90%;
    }

    label::before {
    content: '';
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        width: 32px;
        border: 3px solid $color-2;
        border-radius: 100px;
        transition: background-color .2s;
        background-color: $color-1;
    }

    // label:first-of-type {
    //     transform: translateX(-40px);
    // }

    // label:last-of-type {
    //     transform: translateX(40px);
    // }

    label:hover, input:focus + label {
        box-shadow: 4px 4px 10px -5px #000000;
        width: 100%;
    }

    input:checked + label {
        background-color: $color-5;
    }

    input:checked + label::before {
        background-color: $color-5;
    }
}

@media screen and (max-width: 992px) {
    .filter-check{
        .form-check{
            width: calc(( 100% / 2 ) - 30px);
        }
    }
}

@media screen and (max-width: 768px) {
    .filter-check{
        .form-check{
            font-size: 12px;
            width: calc(( 100% / 2 ) - 30px);
        }
    }
}

@media screen and (max-width: 768px) {
    .filter-check{
        display: block;
        .form-check{
            margin: auto;
            margin-bottom: 40px;
            margin-top: 20px;
            font-size: 12px;
            width: 70%;
        }
    }
}

@media screen and (max-width: 428px) {
    .filter-check{
        // margin: auto;
        .form-check{
            width: 100%;
        }
    }
}

.filter-btn{
    width:100%;
    text-align: center;
    .myButton {
        background:linear-gradient(to bottom, #97d9a8 5%, #34d95a 100%);
        background-color:#97d9a8;
        border-radius:28px;
        border:3px solid #ffffff;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:8px 30px;
        text-decoration:none;
        text-shadow:0px 1px 0px #8e9995;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #34d95a 5%, #97d9a8 100%);
        background-color:#34d95a;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

}