.my-jumbotron{
    height: 600px;
    position: relative;
    background-size: cover;

    .overlay {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.4); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        height:100%;  
    }

    

    .title{
        text-align: center;
        

        h2{
            font-size: 52px;
            position: absolute;
            top: 37%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
    }
    .form-group{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        .form-control{
            width: 700px;
            border-radius: 30px;
            padding:20px 30px;
            font-size: 20px;
            border: 3px solid $color-1;
            margin-bottom: 30px;
        }
        &:hover #search-search-bar{
            border:5px solid $color-1;
        }

    }
}
@keyframes my-jumbotron {
    from {height:0px; width:0}
    to {height:600px; width:100%}
}

// LIST APARTMENTS
.white-sec{
    h2 {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }

    .list-apartment{
        padding: 20px;

        .title-page{
            text-align: center;
        }

        .card-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;

            .card{
                position: relative;
                width: calc(( 100% / 3) - 30px );
                margin:30px 0;
                height: 500px;
                background-size: cover;
                background-position: center;
                border-radius: 10px;
                padding: 20px 30px;
                transition: transform .1s;  
                color: white; 
                transform: scaleY(1);
                transform-origin: top;
                border: none;
                -webkit-box-shadow: 11px 9px 31px 4px #424242;
                -moz-box-shadow: 11px 9px 31px 4px #424242;
                -o-box-shadow: 11px 9px 31px 4px #424242;
                box-shadow: 11px 9px 31px 4px #424242;

                .details{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: black;

                    a{
                        color:lightgray;
            
                        i{
                            font-size: 40px;
                        }
                    }

                    a:hover{
                        color:white;
                    }
                    

                }

            

                .scaling-block{
                    border-bottom-left-radius:10px;
                    border-bottom-right-radius:10px;
                    padding: 10px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: calc(100% + 1px);
                    height: 100px;
                    text-align: center;
                    transform-origin: bottom;
                    transform: scaleY(1);
                    transition: .1s linear;
                    background-color:$color-5;
                    color: black;
                    

                    .modified{
                        color: black;
                        text-decoration: underline;
                    }

                    .blog-title{
                        h5{
                            font-weight: bold;
                        }
                    }
                }


                
            }

            .card:hover {
                transform: scaleY(1); 
                background-color: linear-gradient(to top,rgba(3,3,3,0) 0,rgba(3,3,3,0.85) 100%);
                z-index: 3;
                &:hover .scaling-block{
                    transform: scaleY(0)
                }
                
            }

            .card:hover .hidden{           
                display:block;
            }

            a{
                color:white;

                i{
                    font-size: 40px;
                }
            }

        
        }
    }
}
.filters {
    h2 {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }

    // input filters
    .input-filters {
        width: 100%;
        text-align: center;
        padding: 20px 30px;
        font-size: 16px;
        display: flex;
        justify-content: space-around;

        label {
            margin: 0;
            display:grid;
            font-size: 20px;
            font-weight: bold;
        }

        input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }
        
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
        
        .number-input {
            border: 0;
            display: block;
            margin:5px 0;

            span{
                font-size: 20px;
                font-weight: bold;
                margin-left: 10px;
            }
        }
        
        .number-input,
        .number-input * {
            box-sizing: border-box;
        }
        
        .number-input button {
            outline:none;
            -webkit-appearance: none;
            background-color: transparent;
            border: none;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin: 0;
            position: relative;
            box-shadow: 0px 0px 1px #474747;
            border-radius: 50%;
            margin-left: 10px;
        }
        
        .number-input button:before,
        .number-input button:after {
            display: inline-block;
            position: absolute;
            content: '';
            width: 1rem;
            height: 2px;
            background-color: #212121;
            transform: translate(-50%, -50%);
        }
        .number-input button.plus:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
        
        .number-input input[type=number] {
            font-family: sans-serif;
            max-width: 5rem;
            padding: 0.5rem;
            border: none;
            border-width: 0 2px;
            font-size: 20px;
            height: 35px;
            font-weight: bold;
            text-align: center;
            color: $color-1;
            border-radius: 30px;
        }
    }

    .button-plus-min{
        display:flex;
        align-items: center;
        margin:10px;
    }
    .quantity{
        margin:0px 10px;

    }

    .meno,
    .più{
        color:$color-5;
        font-size: 35px;
        cursor: pointer;

        &:hover{
            -webkit-box-shadow: 3px 5px 10px 0px gray;
            -moz-box-shadow: 3px 5px 10px 0px gray;
            -o-box-shadow: 3px 5px 10px 0px gray;
            box-shadow: 3px 5px 10px 0px gray;    
        }
        &:active {
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        
    }
    

}

.filter-check{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .form-check{
        width: calc(( 100% / 4 ) - 30px);
        /* border: 1px solid #F6E8EA; */
        /* border-radius: 10px; */
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        /* background-color: #F6E8EA; */
        margin-top: 20px;
        position: relative;

        .form-check-input{
            cursor: pointer;
        }

        

    }

    // checkboxes
    @import url(https://fonts.googleapis.com/css?family=Noto+Sans);


    html {
        min-height: 100%;
    }

    body {
        color: #435757;
        background: radial-gradient(#fff, #dac4cd);
        font: 1.4em/1 'Noto Sans', sans-serif;
    }

    .container-check {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  
        width: 100%;
    }

    input {
        position: absolute;
        left: -9999px;
    }

    label {
        display: block;
        position: relative;
        margin: 20px;
        padding: 15px 30px 15px 62px;
        border: 3px solid #fff;
        border-radius: 100px;
        color: #fff;
        background-color: #6a8494;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: background-color .2s, box-shadow .2s;
    }

    label::before {
    content: '';
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        width: 32px;
        border: 3px solid #fff;
        border-radius: 100px;
        transition: background-color .2s;
    }

    // label:first-of-type {
    //     transform: translateX(-40px);
    // }

    // label:last-of-type {
    //     transform: translateX(40px);
    // }

    label:hover, input:focus + label {
        box-shadow: 0 0 20px rgba(0, 0, 0, .6);
        width: 100%;
    }

    input:checked + label {
        background-color: #ab576c;
    }

    input:checked + label::before {
        background-color: #fff;
    }
}
.filter-btn{
    width:100%;
    text-align: center;
}

// DASHBOARD
.user-rep{
    background-color:$cyan;
    padding: 20px 40px;
    border-radius: 10px;

    // test
    height:300px;
}

.new-ap{
    color: $green;
    i{
        margin-left:10px;
        font-size: 40px;
    }
}
.my-ap{
    display: flex;
    justify-content: space-between;
    align-content: center;
    .new-ap{
        color: $green;
        i{
            margin-left:10px;
            font-size: 40px;
        }
    }
}


.ap-line{
    padding:10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    display:flex;
    justify-content: space-between;

    
    .buttoni{
        display:flex;
        margin:0 20px;
        a{
            margin:0 20px;
        }
    }


}