main {
    min-height: 100vh;
}

.my-jumbotron{
    height: 600px;
    position: relative;
    background-size: cover;

    .overlay {
        position: absolute;
        top:0;
        left: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.4); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        height:100%;
    }


    .title{
        text-align: center;


        h2{
            font-size: 52px;
            position: absolute;
            top: 37%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
    }
    .form-group{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        .form-control{
            width: 700px;
            border-radius: 30px;
            padding:20px 30px;
            font-size: 20px;
            border: 3px solid $color-1;
            margin-bottom: 30px;
        }

    }
}

// LIST APARTMENTS

h2 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.list-apartment{
    padding: 20px;

    .title-page{
        text-align: center;
    }


    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        .card{
            position: relative;
            width: calc(( 100% / 3) - 30px );
            margin:30px 0;
            height: 500px;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            padding: 20px 30px;
            transition: transform .1s;
            color: white;
            transform: scaleY(1);
            transform-origin: top;
            border: none;
            -webkit-box-shadow: 11px 9px 31px 4px #424242;
            -moz-box-shadow: 11px 9px 31px 4px #424242;
            -o-box-shadow: 11px 9px 31px 4px #424242;
            box-shadow: 1px 1px 12px 0px #424242;
            position: relative;
            overflow: hidden;
            .sponsorized-ap{
                position: absolute;
                top: 30px;
                right: -31px;
                transform: rotateZ(42deg);
                background-color: rgba(0, 0, 0, 0.4);
                padding: 0px 32px;
            }

            .details{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: black;

                a{
                    color:lightgray;

                    i{
                        font-size: 40px;
                    }
                }

                    a:hover{
                        color:white;
                    }
                }
                .ap-stats{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.4);
                    padding: 5px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 17px;
                    width: 100%;

                    span{
                        margin:10px;
                    }
                }


                .scaling-block{
                    border-bottom-left-radius:10px;
                    border-bottom-right-radius:10px;
                    padding: 10px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: calc(100% + 1px);
                    height: 100px;
                    text-align: center;
                    transform-origin: bottom;
                    transform: scaleY(1);
                    transition: .1s linear;
                    background-color:white;
                    color: black;


                .modified{
                    color: black;
                    text-decoration: underline;
                }

                    .blog-title{
                        h6{
                            font-weight: bold;
                        }
                    }
                }
            }



        }

        .card:hover {
            transform: scaleY(1);
            background-color: linear-gradient(to top,rgba(3,3,3,0) 0,rgba(3,3,3,0.85) 100%);
            z-index: 3;

            .overlay{
                position: absolute;
                top:0;
                left: 0;
                background: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.4); /* Black see-through */
                color: #f1f1f1;
                width: 100%;
                height:100%;
            }

            &:hover .scaling-block{
                transform: scaleY(0)
            }

        }

        .card:hover .hidden{
            display:block;
        }

        a{
            color:white;

            i{
                font-size: 40px;
            }
        }


    }


.filters {
    h2 {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }

    // input filters
    .input-filters {
        width: 100%;
        text-align: center;
        padding: 20px 30px;
        font-size: 16px;
        display: flex;
        justify-content: space-around;

        label {
            margin: 0;
            display:grid;
            font-size: 20px;
            font-weight: bold;
        }

        input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        .number-input {
            border: 0;
            display: block;
            margin:5px 0;

            span{
                font-size: 20px;
                font-weight: bold;
                margin-left: 10px;
            }
        }

        .number-input,
        .number-input * {
            box-sizing: border-box;
        }

        .number-input button {
            outline:none;
            -webkit-appearance: none;
            background-color: transparent;
            border: none;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin: 0;
            position: relative;
            box-shadow: 0px 0px 1px #474747;
            border-radius: 50%;
            margin-left: 10px;
        }

        .number-input button:before,
        .number-input button:after {
            display: inline-block;
            position: absolute;
            content: '';
            width: 1rem;
            height: 2px;
            background-color: #212121;
            transform: translate(-50%, -50%);
        }
        .number-input button.plus:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .number-input input[type=number] {
            font-family: sans-serif;
            max-width: 5rem;
            padding: 0.5rem;
            border: none;
            border-width: 0 2px;
            font-size: 20px;
            height: 35px;
            font-weight: bold;
            text-align: center;
            color: $color-1;
            border-radius: 30px;
        }
    }

    .button-plus-min{
        display:flex;
        align-items: center;
        margin:10px;
    }
    .quantity{
        margin:0px 10px;

    }

    .meno,
    .più{
        color:$color-5;
        font-size: 35px;
        cursor: pointer;

        &:hover{
            -webkit-box-shadow: 3px 5px 10px 0px gray;
            -moz-box-shadow: 3px 5px 10px 0px gray;
            -o-box-shadow: 3px 5px 10px 0px gray;
            box-shadow: 3px 5px 10px 0px gray;
        }
        &:active {
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }


    }


}

.filter-check{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-check{
        width: calc(( 100% / 4 ) - 30px);
        /* border: 1px solid #F6E8EA; */
        /* border-radius: 10px; */
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        /* background-color: #F6E8EA; */
        margin-top: 20px;
        position: relative;

        .form-check-input{
            cursor: pointer;
        }



    }

    // checkboxes
    @import url(https://fonts.googleapis.com/css?family=Noto+Sans);


    html {
        min-height: 100%;
    }

    body {
        color: $color-2;
        background: $color-5;
        font: 1.4em/1 'Noto Sans', sans-serif;
    }



    .container-check {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    input {
        position: absolute;
        left: -9999px;
    }

    label {
        display: block;
        position: relative;
        margin: 20px;
        padding: 15px 30px 15px 62px;
        border: 3px solid $color-2;
        border-radius: 100px;
        color: $color-2;
        background-color: $color-5;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: background-color .2s, box-shadow .2s;
        width:90%;
    }

    label::before {
    content: '';
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        width: 32px;
        border: 3px solid $color-2;
        border-radius: 100px;
        transition: background-color .2s;
        background-color: $color-1;
    }

    // label:first-of-type {
    //     transform: translateX(-40px);
    // }

    // label:last-of-type {
    //     transform: translateX(40px);
    // }

    label:hover, input:focus + label {
        box-shadow: 0 0 20px rgba(0, 0, 0, .6);
        width: 100%;
    }

    input:checked + label {
        background-color: $color-5;
    }

    input:checked + label::before {
        background-color: $color-5;
    }
}
.filter-btn{
    width:100%;
    text-align: center;
    .myButton {
        background:linear-gradient(to bottom, #97d9a8 5%, #34d95a 100%);
        background-color:#97d9a8;
        border-radius:28px;
        border:3px solid #ffffff;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:8px 30px;
        text-decoration:none;
        text-shadow:0px 1px 0px #8e9995;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #34d95a 5%, #97d9a8 100%);
        background-color:#34d95a;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

}
// -------------------------------------------------------------------------------------------
// DASHBOARD
.info-user{
    border-bottom: 3px solid #57737A;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 5%;
    height: 500px;
    
}
#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}
.title{
    h2{
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        color: white;
    }
}
.container-user{
    display:flex;
    justify-content: space-between;

        h2{
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid $color-2;
            padding: 5px 10px;
            color: $color-2;
            font-weight: bold;
        }
    


    .user-rep{
        width: 48%;
        border: 1px solid $color-2;
        padding: 20px 40px;
        font-size: 17px;
        border-radius: 10px;
        background-color: $color-5;
        -webkit-box-shadow: 11px 9px 31px 4px #424242;
        -moz-box-shadow: 11px 9px 31px 4px #424242;
        -o-box-shadow: 11px 9px 31px 4px #424242;
        box-shadow: 1px 1px 12px 0px #424242;

        // test
        height:300px;
        
        div{
            margin:40px 0;
        }

    }

    .msg-box{
        border: 1px solid #57737A;
        border-radius: 10px;
        padding: 20px 25px;
        width: 48%;
        background-color: $color-5;
        -webkit-box-shadow: 11px 9px 31px 4px #424242;
        -moz-box-shadow: 11px 9px 31px 4px #424242;
        -o-box-shadow: 11px 9px 31px 4px #424242;
        box-shadow: 1px 1px 12px 0px #424242;
        overflow-y: scroll;

        // test
         height:300px;
        

         ul{
            list-style-type:circle;

            li::marker{
                color: $color-1;
                font-size: 20px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 5px;


                span{
                    border-right: 1px solid;
                    margin-right: 5px;
                    width: 85%;
                    height: 47px;
                }
                                        
                .read-btn {
                    background-color: #0dcb92;
                    border-radius: 30px;
                    display: inline-block;
                    cursor: pointer;
                    color: $body-bg;
                    font-family: Arial;
                    font-size: 15px;
                    padding: 3px 12px;
                    text-decoration: none;
                }
                .read-btn:hover {
                    background-color:#14dea1;
                    color: $color-2;
                }
                .read-btn:active {
                    position:relative;
                    top:1px;
                }

            }     
            
            li:hover{
                background-color: white;
                border-radius: 10px;
                box-shadow: 1px 1px 12px 0px #424242;

            }
            
         }

    }

    .my-ap{
        display: flex;
        justify-content: space-between;
        align-content: center;
        font-size: 16px;
    }
}
.new-ap{
    text-align: right;
    
    #new-ap{
        display: grid; 
        text-align: center;
          

        box-shadow:inset 0px 1px 0px 0px #09e6c1;
        background:linear-gradient(to bottom, #02b89a 5%, #00dcb7 100%);
        background-color:$color-1;
        border-radius:6px;
        border:1px solid #00dcb7;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #787a74;

        i{
            display: block;
            font-size: 40px;
        }
    }
    #new-ap:hover {
        background:linear-gradient(to bottom, #00dcb7 5%, #02b89a 100%);
        background-color:#00dcb7;
    }
    #new-ap:active {
        position:relative;
        top:1px;
    }
}

.ap-line{
    margin: 40px 0;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    -webkit-box-shadow: 11px 9px 31px 4px #424242;
    -moz-box-shadow: 11px 9px 31px 4px #424242;
    -o-box-shadow: 11px 9px 31px 4px #424242;
    box-shadow: 1px 1px 5px 0px #424242;
    background-color: $body-bg;




  

    .btn-link {
        background-color: transparent;
        border-radius: 10px;
        display: inline-block;
        cursor: pointer;
        color: $color-3;
        font-size: 15px;
        padding: 23px 132px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #424242;
    }

    .btn-link:hover {
        background-color:transparent;
        text-decoration: none;
        color: $color-1;
    }
    .btn-link:active {
        position:relative;
        top:1px;
    }
    a{
        text-decoration: none;
    }


    .buttoni{
        display:flex;
        margin-right:20px;
        align-items: center;
        a{
            margin:0 20px;
        }

        // btn-modifica
        .btn-modify {
            box-shadow:inset 0px 1px 0px 0px #57737a;
            background:linear-gradient(to bottom, #7eb4c2 5%, #57737a 100%);
            background-color:#7eb4c2;
            border-radius:10px;
            border:1px solid #57737a;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:13px;
            padding:7px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px #854629;
        }
        .btn-modify:hover {
            background:linear-gradient(to bottom, #57737a 5%, #7eb4c2 100%);
            background-color:#57737a;
        }
        .btn-modify:active {
            position:relative;
            top:1px;
        }
        

        // btn-elimina
        .btn-elimina {
            box-shadow:inset 0px 1px 0px 0px #cf866c;
            background:linear-gradient(to bottom, #d0451b 5%, #db2b3a 100%);
            background-color:#d0451b;
            border-radius:10px;
            border:1px solid #942911;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:13px;
            padding:7px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px #854629;
        }
        .btn-elimina:hover {
            background:linear-gradient(to bottom, #db2b3a 5%, #d0451b 100%);
            background-color:#db2b3a;
        }
        .btn-elimina:active {
            position:relative;
            top:1px;
        }

        // Sponsor btn
        .btn-sponsor {
            box-shadow:inset 0px 1px 0px 0px #57737a;
            background:linear-gradient(to bottom, #0ef5b0 5%, #0dcb92 100%);
            background-color:#0ef5b0;
            border-radius:10px;
            border:1px solid #57737a;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:13px;
            padding:7px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px $color-2;

            i{
                text-shadow:0px 1px 0px $color-2;
            }
        }
        .btn-sponsor:hover {
            background:linear-gradient(to bottom, #0dcb92 5%, #0ef5b0 100%);
            background-color:#0dcb92;
        }
        .btn-sponsor:active {
            position:relative;
            top:1px;
        }
        
    }
}

//SHOW APARTMENTS GUEST & ADMIN
.show-container {
    background-color: $color-5;
    padding-bottom: 40px;
        
        .container-fluid {
            padding-top: 50px;
            font-size: 16px;
            color: $color-3;
            // background-color: #34d95a;

                .show-title {
                    margin-bottom: 40px;
                    text-align: center;
                    color: $color-2;

                    h1 {
                        word-break: break-all;
                        font-weight: bold;
                    }
                }

                .show-img {
                    // width: 40%;
                    width: 100%;
                    height: 500px;
                    padding-bottom: 30px;

                    img {
                        // width: 100%;
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }


            .show-flex-container {
                display: flex;
                padding-bottom: 50px;
                .strong-text {
                    color: $color-2;
                        font-weight: bold;
                }

                    h3 {
                        color: $color-2;
                        margin-bottom: 15px;
                        font-weight: 600;
                    }
                    p {
                        margin-bottom: 25px;
                    }

                .show-info {
                    width: 60%;
                    padding-right: 50px;

                    //style for tomtom map
                    #map {
                        height: 350px;
                        width: 100%;
                        padding-right: 50px;
                        border-radius: 5px;
                    }
                }

                .info-ul {
                    width: 40%;
                    padding-left: 100px;
                }
            }

            .calltoaction-link {
                padding-bottom: 30px;
                .btn {
                    
                    color: white;
                    font-size: 16px;
                    background-color: $color-1;

                    i {
                        padding-left: 4px;
                    }

                    &:hover {
                        background-color: lighten($color-1, 5%);
                    }
                }
            }

        @media screen and (max-width: 991px) {
            .show-flex-container {
                display: block;

                .show-info {
                    width: 100%;
                    padding-right: 0;

                    h3 {
                        text-align: center;
                    }

                    //style for tomtom map
                    #map {
                        height: 250px;
                        width: 100%;
                        padding-right: 0;
                        margin-bottom: 30px;
                    }
                }

                .info-ul {
                    width: 100%;
                    text-align: center;
                    padding-left: 0;
                }
            }

            .calltoaction-link {
                text-align: center;
            }
        }
    }
}

// MESSAGES ADMIN
.message-admin-container {
    font-size: 16px;
    background-color: $color-5;
    // width: 100%;
    // È brutto da vedere ma non avevo trovato altre soluzioni
    // height: calc(100vh - 9rem);
    height: 100vh;
    padding-top: 50px;

    .container-fluid{
        // height: 100%;

        .message-title {
            margin: auto;
            text-align: center;
            max-width: max-content;
            background-color: white;
            padding: 20px;
            border: 2px solid $color-2;
            border-radius: 9999px;
            margin-bottom: 30px;

            h2 {
                display: inline-block;
                font-weight: bold;
                color: $color-2;
                word-break: break-all;
            }

            i {
                color: $color-1;
                display: inline-block;
                font-size: 30px;
                padding-right: 5px;
                vertical-align: text-bottom;
            }
        }

        .message-box {
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            border: 2px solid $color-2;
            border-radius: 5px;
            // box-shadow: 1px 1px 8px;
            h4 {
            color: $color-2;
            font-weight: bold;
            }
        
            // h4 {
            //     margin-top: 30px;
            // }
        }
    }
}

@media screen and (max-width: 767px) {
    .message-admin-container {
        height: 100vh;

        .container{
        h4, div {
            text-align: center;
        }

    }
    }
}

// BRAINTREE FORM
    .braintree-form-container {

        .container-fluid {
            max-width: 75%;

            h1 {
                padding-top: 30px;
                font-weight: bold;
                text-align: center;
            }

            label {
                font-weight: bold;
            }
        
            button {
                margin-bottom: 30px;
            }
        }
    }
    
    .spacer {
        margin-bottom: 0;
    }

    #card-number, #cvv, #expiration-date {
        background: white;
        height: 38px;
        border: 1px solid #CED4DA;
        padding: .375rem .75rem;
        border-radius: .25rem;
    }

    @media screen and (max-width: 767px) {
        h1 {
            padding-bottom: 30px;
        }
    }


// SPONSOR PAGE
.sponsor-container {
    min-height: 100vh;
    background-color: $color-5;
}