//SHOW APARTMENTS GUEST & ADMIN
.show-container {
    background-color: $color-5;
    padding-bottom: 40px;
    min-height: calc( 100vh - 120px);
        
        .container-fluid {
            padding-top: 50px;
            font-size: 16px;
            color: $color-3;
            // background-color: #34d95a;

                .show-title {
                    margin-bottom: 40px;
                    text-align: center;
                    color: $color-2;

                    h1 {
                        font-weight: bold;
                    }
                }

                .show-img {
                    // width: 40%;
                    width: 100%;
                    height: 500px;
                    padding-bottom: 30px;

                    img {
                        // width: 100%;
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }


            .show-flex-container {
                display: flex;
                padding-bottom: 50px;

                .strong-text {
                    color: $color-2;
                    font-weight: bold;
                }

                    h3 {
                        color: $color-2;
                        margin-bottom: 15px;
                        font-weight: 600;
                    }
                    p {
                        margin-bottom: 25px;
                    }

                .show-info {
                    width: 60%;
                    padding-right: 50px;

                    //style for tomtom map
                    #map {
                        height: 350px;
                        width: 100%;
                        padding-right: 50px;
                        border-radius: 5px;
                    }
                }

                .info-ul {
                    width: 40%;
                    padding-left: 100px;
                }
            }

            .calltoaction-link {
                padding-bottom: 30px;
                .btn {
                    
                    color: white;
                    font-size: 16px;
                    background-color: $color-1;

                    i {
                        padding-left: 4px;
                    }

                    &:hover {
                        background-color: lighten($color-1, 5%);
                    }
                }
            }

        @media screen and (max-width: 992px) {
            h1 {
                font-size: 25px;
            }

            .show-flex-container {
                display: block;

                .show-info {
                    width: 100%;
                    padding-right: 0;

                    h3 {
                        text-align: center;
                    }

                    //style for tomtom map
                    #map {
                        height: 250px;
                        width: 100%;
                        padding-right: 0;
                        margin-bottom: 30px;
                    }
                }

                .info-ul {
                    width: 100%;
                    text-align: center;
                    padding-left: 0;
                }
            }

            .calltoaction-link {
                text-align: center;
            }
        }
    }
}

#root2 {
    // .stats {
    padding-top: 20px;
    // }
}