// Body
$body-bg: #fffeec;
$light-black: #252525;
$color-1: #0DCB92;
$color-2: #57737A;
$color-3: #040F0F;
$color-4: #DB2B39;
$color-5: #f3ebe2;
$color-6: #f8c8cf;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
